<div class="bg-primary text-dim text-center flex justify-center items-center text-xl p-4 font-bold">Electronics Circuit
  Symbols
</div>
<!-- search container -->
<div class="shadow-2xl bg-white p-4 flex justify-between items-center">
  <input (input)="onSearch()" [(ngModel)]="q" type="search" name="" placeholder="Search a symbol here..."
    class="border-b border-dim flex-1 outline-none text-lg p-2" />
  <i class="fa fa-search p-2 fa-fw cursor-pointer"></i>
</div>
<!-- spacer -->
<div class="h-[8px] bg-light w-full"></div>
<!-- content container -->
<div class="shadow-2xl bg-white p-4">
  <div class="flex justify-between items-center">
    <div id="categories" class="text-xl">Filter</div>
    <div (click)="toggleShowCategories()" *ngIf="!showCategories && selectedCategory != ''"
      class="cursor-pointer bg-primary-accent p-1 rounded-lg text-white text-xs">
      {{ selectedCategory }}
    </div>
    <div class="text-primary-accent">
      <i (click)="toggleShowCategories()" class="fa fa-chevron-up fa-fw cursor-pointer" *ngIf="showCategories"></i>
      <i (click)="toggleShowCategories()" class="fa fa-chevron-down fa-fw cursor-pointer" *ngIf="!showCategories"></i>
    </div>
    <!-- <div class="text-primary-accent">View all</div> -->
  </div>
  <!-- grid -->
  <div *ngIf="showCategories" class="flex flex-wrap items-center gap-2 mt-5">
    <!-- Column 1 -->
    <div (click)="selectCategory(e.category)" *ngFor="let e of eSymbols"
      class="hover:scale-105 transition-all duration-500 cursor-pointer bg-primary-accent text-white rounded-lg p-3 flex items-center justify-center"
      [ngClass]="{'opacity-50': e.category != selectedCategory && selectedCategory !== ''}">
      <div class="text-center text-sm">{{ e.category }}</div>
    </div>

  </div>

  <div (click)="selectCategory(selectedCategory, true)" *ngIf="selectedCategory != ''"
    class="cursor-pointer mt-5 text-center underline text-secondary text-sm flex items-center justify-center w-full">
    Clear filter
  </div>
</div>
<!-- spacer -->
<div class="h-[8px] bg-light w-full"></div>
<!-- content container -->
<div class="shadow-2xl bg-white p-4 min-h-screen">
  <div class="flex justify-between items-center">
    <div id="symbols" class="text-xl">Symbols</div>
    <!-- <div class="text-primary-accent">View all</div> -->
  </div>
  <!-- grid -->
  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-5">
    <!-- Column 1 -->
    <ng-container *ngFor="let e of eSymbolsDisplay">
      <div (click)="openSymbol(s, e.category)" *ngFor="let s of e.data"
        class="hover:scale-110 transition-all duration-500 cursor-pointer bg-secondary text-white rounded-lg p-3 flex items-center justify-between flex-col">
        <div class="bg-white rounded-lg border-2 p-1 overflow-hidden border-dim flex items-center justify-center">
          <img [src]="'https://electronicsclub.info/' + s.imageUrl" alt="">
        </div>

        <div class="text-center text-sm mt-2">{{ s.symbolName }}</div>
      </div>
    </ng-container>

  </div>
  <div *ngIf="dataLength == 0 && q !== ''" class="text-center text-gray-500">No results found.</div>
</div>
<swal #swalItem [showCancelButton]="false" [showConfirmButton]="false" (didClose)="selectedData = null">
  <div *swalPortal class="alert alert-info">
    <div class="flex justify-end items-center">
      <i (click)="selectedData = null; swalItem.close()" class="fa-fw fa fa-times cursor-pointer"></i>
    </div>
    <ng-container *ngIf="selectedData">
      <div class="bg-white rounded-lg p-1 overflow-hidden flex items-center justify-center">
        <img [src]="'https://electronicsclub.info/' + selectedData.symbol.imageUrl" alt="">
      </div>
      <div class="text-secondary font-bold text-lg"> {{ selectedData.symbol.symbolName }}</div>

      <p class="text-justify">{{ selectedData.symbol.description }}</p>

      <div class="mt-5 bg-primary-accent text-white rounded-lg w-fit mx-auto p-[4px] font-bold text-xs">Category: {{
        selectedData.category
        }}</div>
    </ng-container>
  </div>
</swal>

<div class="bg-primary-accent mt-10 text-light text-center p-2">
  Website developed by <a href="https://markcay.dev" target="_blank" class="underline">Mark Cay</a>
</div>
<div class="bg-dim text-light text-center p-2">
  Source: <a href="https://electronicsclub.info" target="_blank" class="underline">electronicsclub.info</a> © John Hewes
  2023
</div>
<router-outlet></router-outlet>
